@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --blue: rgba(23, 59, 88, 1);
  --gray: rgba(237, 242, 247, 1);
  --orange: rgba(237, 176, 49, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  color: #173b58;
  font-family: "DM Sans";
}

/* utility classes */

.title {
  color: var(--blue);
  font-weight: 700;
  line-height: 5.7rem;
  font-size: 4rem;
}

.primary-btn {
  padding: 20px 40px;
  width: max-content;
  white-space: nowrap;
  font-size: 1.8rem;
  gap: 8px;
  font-weight: 700;
  border: 1px solid var(--blue);
  border-radius: 56px;
  background: white;
  color: var(--blue);
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);
  cursor: pointer;
}

.primary-hover:hover {
  background: var(--orange);
}
.secondary-hover:hover {
  background: var(--gray);
}

.default-img {
  width: 100%;
  height: auto;
}

.primary-img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.container-half {
  width: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.underline-img {
  left: 0;
  bottom: -12px;
  width: 199px;
  height: auto;
}

.border {
  border: 1px solid rgba(195, 196, 198, 1);
}

.course-card {
  background: var(--white);
  padding: 14px;
  border-radius: 8px;
  flex-shrink: 0;
}

.course-card__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 20px;
  margin: 15px 0;
}

.course-card__content {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-card__content__book {
  display: flex;
  align-items: center;
}

.course-card-icon {
  margin-right: 7px;
}

.course-card__content__learning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.course-card__content__learning__route {
  display: flex;
  width: 50%;
  align-items: center;
}

.course-card__hr {
  border: 1px solid rgba(217, 219, 233, 1);
}

.course-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.course-card__footer__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-card__footer__user__details__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.course-card__footer__user__details__course {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.course-card__footer__icon {
  padding: 5px 13px;
  border-radius: 70px;
  background: var(--gray);
}

/* header */

.header {
  background: transparent;
}

.header__nav {
  padding: 33px 0;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.header__nav__logo__img {
  width: 240px;
  height: auto;
}

.header__nav__btn {
  z-index: 20;
}

/* hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__left__subtitle {
  margin-top: 5px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4.6rem;
  text-wrap: nowrap;
}
.hero__left__inputDiv {
  margin: 30px 0 20px 0;
}
.hero__left__inputDiv__input {
  padding: 21px 170px 21px 30px;
  width: 80%;
  border: 1px solid var(--blue);
  border-radius: 100px;
  font-size: 1.6rem;
  font-weight: 700;
}
.hero__left__para {
  font-size: 2rem;
  font-weight: 500;
  line-height: 4.6rem;
}
.hero__left__inputDiv__overlay {
  background: var(--orange);
  padding: 19px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  right: 10%;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 700;
}
::placeholder {
  color: rgb(192, 192, 192);
}
.hero__left__signupDiv {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.hero__left__signupDiv__feide {
  padding: 16px 32px;
  background: var(--gray);
  border-radius: 56px;
}

.hero__left__signupDiv__vapps {
  padding: 20px 23px 16px 23px;
  background: var(--gray);
  border-radius: 56px;
}

.hero__left__signupDiv__feide__img {
  width: 84px;
  height: auto;
}
.hero__left__signupDiv__vapps__img {
  width: 102px;
  height: auto;
}
.hero__right__imgDiv {
  margin: -110px -80px 0 -60px;
}
.hero__right__imgDiv__img {
  width: 100%;
  height: auto;
}
.hero__right__review-card {
  bottom: 3%;
  right: 59%;
  background: var(--white);
  width: 380px;
  padding: 28px 20px 16px 20px;
  border-radius: 16px;
  color: rgba(30, 30, 30, 1);
}
.hero__right__review-card__title {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 12px;
  opacity: 0.9;
  letter-spacing: 3%;
}
.hero__right__review-card__main {
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: space-between;
}
.hero__right__review-card__main__user {
  display: flex;
  gap: 8px;
  align-items: center;
}
.hero__right__review-card__main__user__img {
  width: 56px;
  height: auto;
}
.hero__right__review-card__main__user__details__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  padding-bottom: 4px;
  letter-spacing: 3%;
}
.hero__right__review-card__main__user__details__para {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  opacity: 0.7;
  letter-spacing: 3%;
}
.hero__right__review-card__main__star {
  margin: 0 -25px -25px 0;
}
.hero__right__review-card__main__star__img {
  width: 72px;
  height: auto;
}
.hero__right__users-card {
  right: 4%;
  bottom: 28%;
  background: var(--white);
  border-radius: 16px;
  width: 234px;
  padding: 24px;
}
.hero__right__users-card__smiley {
  position: absolute;
  top: 0;
  left: 4px;
  width: 50px;
  height: auto;
}
.hero__right__users-card__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 3%;
}
.hero__right__users-card__para {
  font-size: 1.8rem;
  margin-top: 8px;
  font-weight: 400;
  text-align: center;
  line-height: 2.3rem;
  letter-spacing: 3%;
  color: rgba(30, 30, 30, 0.8);
}

/* classroom */

.classroom {
  width: 100%;
  background: var(--gray);
}
.classroom-container {
  max-width: 1440px;
  padding: 100px;
  margin: 0 auto;
}
.classroom-heading {
  text-align: center;
  margin-bottom: 50px;
}
.classroom__top {
  display: flex;
  gap: 20px;
}
.classroom__top__right {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.classroom__top__right__imgDiv {
  height: 400px;
  width: 100%;
}
.classroom__top__right__imgDiv_img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.classroom__top__right__iconDiv {
  padding: 34px 36px;
  border-radius: 74px;
  position: absolute;
  background: var(--blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.classroom__bottom {
  margin-top: 20px;
  background: var(--blue);
  color: white;
  padding: 50px;
  border-radius: 20px;
}
.classroom__bottom__heading {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 32px;
}
.classroom__bottom__para {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
}

/* about */

.about {
  padding: 100px 100px 0 100px;
}
.about__title {
  text-align: center;
}
.about__text {
  margin-top: 80px;
  padding: 10px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 37px;
}
.about__founders {
  margin-top: 60px;
}
.about__founders__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 30px;
  background: linear-gradient(96.05deg, #96d1e3 45.21%, #d8e4d6 96.81%);
  border-radius: 20px;
}
.about__founders__card__imgsDiv {
  padding: 15px 0 0 0;
}
.about__founders__card__imgsDiv__gradient {
  width: 28px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.about__founders__card__imgsDiv__founder {
  width: 291px;
  height: auto;
  margin-top: 20px;
}
.about__founders__card__details {
  padding: 20px;
  font-size: 1.6rem;
}
.about__founders__card__details__title {
  font-size: 2.8rem;
  font-weight: 700px;
  line-height: 36px;
}
.about__founders__card__details__subtitle {
  font-weight: 500;
}
.about__founders__card__details__address {
  display: flex;
  align-items: center;
}
.about__founders__card__details__hr {
  border: 1px solid rgba(204, 214, 218, 1);
  margin: 15px 0;
}
.about__founders__card__details__address__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
}
.about__founders__card__details__intro {
  font-weight: 400;
  line-height: 37px;
}

/* article */

.article {
  padding: 90px 120px 70px 120px;
}
.article__title {
  text-align: center;
}
.article__container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.article__container__card {
  width: 384px;
}
.article__container__card__imgDiv__img {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}
.article__container__card__title {
  margin-top: 15px;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.article__btnDiv {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* uke */

.uke {
  padding-left: 100px;
  background: var(--gray);
  display: flex;
}
.uke__left {
  padding: 20px 0 0 20px;
}
.uke__left__title {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 32px;
}
.uke__left__title__underline {
  left: -20px;
  bottom: -25px;
  width: 100%;
  height: auto;
}
.uke__left__content {
  margin-top: 100px;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.uke__left__content__subtitle {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 32px;
}
.uke__right__carousel_container {
  position: relative;
}
.uke__right__carousel_container__slides {
  display: none;
}
.uke__right__carousel_container__slides__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -2px;
}
.uke__right__carousel_container__dots {
  position: absolute;
  right: 50%;
  bottom: 2%;
  transform: translate(50%, 0);
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background: var(--white);
  border: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.calendar {
  padding: 150px 100px;
  display: flex;
}
.calendar__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.calendar__left__subtitle {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 36px;
}
.calendar__right__container__base {
  margin-top: -60px;
  padding: 0 60px 0 120px;
}
.calendar__right__container__overlay {
  padding: 10px 20px 0 40px;
}

.uos {
  padding: 80px 78px 80px 120px;
  background: var(--gray);
}
.uos__heading {
  display: flex;
  justify-content: space-between;
}
.round-arrow {
  left: 340px;
  bottom: -30px;
}
.uos__heading__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uos__content {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.course-card__footer__user__profiles {
  position: relative;
  width: 60px;
  z-index: 2;
}
.course-card__footer__user__profile2 {
  position: absolute;
  left: 10px;
  z-index: -1;
}
.course-card__footer__user__profile3 {
  position: absolute;
  left: 20px;
  z-index: -2;
}
.course-card__footer__icon__like {
  padding: 3px;
  border-radius: 70px;
  background: var(--gray);
}

@media (max-width: 1279px) {
  html {
    font-size: 9px;
  }
  .container {
    padding: 0 70px;
  }
  .hero__right__imgDiv {
    margin: -90px -50px 0 0;
  }
  .hero__right__review-card {
    bottom: 3%;
    right: 53%;
  }
  .hero__right__users-card {
    right: 0%;
    bottom: 26%;
  }

  .classroom {
    padding: 80px 50px;
  }
  .about {
    padding: 50px 50px 0 50px;
  }
  .article {
    padding: 70px 55px 50px 55px;
  }
  .uke {
    padding-left: 50px;
  }
  .uke__left__content {
    margin-top: 80px;
    gap: 30px;
  }

  .calendar {
    padding: 120px 50px;
  }
  .calendar__right__container__base {
    margin-top: -40px;
    padding: 0 50px 0 70px;
  }
  .calendar__right__container__overlay {
    padding: 30px 20px 0 20px;
  }
}

@media (max-width: 1115px) {
  .container {
    padding: 0 50px;
  }
  .hero__left__inputDiv {
    margin: 24px 0 15px 0;
  }
  .hero__right__imgDiv {
    margin: -80px -40px 0px 0px;
  }
  .hero__right__users-card {
    bottom: 25%;
    width: 202px;
    padding: 20px;
  }
  .hero__right__review-card {
    bottom: 3%;
    right: 53%;
    width: 280px;
    padding: 20px 15px 12px 15px;
  }
  .hero__right__users-card__smiley {
    width: 45px;
  }

  .classroom__top__right__iconDiv {
    padding: 28px 30px;
  }
  .uke__left__content {
    margin-top: 60px;
    gap: 20px;
  }

  .calendar__left__subtitle {
    line-height: 30px;
  }
  .calendar__right__container__base {
    margin-top: -40px;
    padding: 0 60px 0 50px;
  }
  .calendar__right__container__overlay {
    padding: 30px 20px 0 20px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 8px;
  }
  .container {
    padding: 0 40px;
  }
  .primary-button {
    padding: 15px 30px;
  }
  .header__nav__logo__img {
    width: 210px;
    height: auto;
  }
  .underline-img {
    width: 175px;
  }
  .hero__left__inputDiv {
    margin: 20px 0 10px 0;
  }
  .hero__left__subtitle {
    line-height: 30px;
  }
  .hero__left__inputDiv__input {
    padding: 15px 110px 15px 20px;
    width: 70%;
  }
  .hero__left__inputDiv__overlay {
    padding: 12px 30px;
  }
  .hero__left__para {
    line-height: 20px;
  }
  .hero__left__signupDiv__feide__img {
    width: 60px;
  }
  .hero__left__signupDiv__vapps__img {
    width: 70px;
  }
  .hero__left__signupDiv__option,
  .hero__left__signupDiv__option {
    padding: 15px 20px;
    width: 100px;
    height: auto;
  }
  .hero__right__imgDiv {
    margin: -70px -20px 20px 0;
  }
  .hero__right__users-card {
    bottom: 28%;
    width: 175px;
    padding: 15px;
  }
  .hero__right__review-card {
    bottom: 3%;
    right: 54%;
    width: 260px;
    padding: 8px 15px 8px 10px;
  }
  .hero__right__review-card__main__user__details__title {
    line-height: 20px;
    padding-bottom: 2px;
  }
  .hero__right__review-card__main__user__details__para {
    font-weight: 500;
    line-height: 15px;
  }
  .hero__right__review-card__main__user__img,
  .hero__right__review-card__main__starimg {
    width: 50px;
    height: auto;
  }
  .hero__right__users-card__img {
    width: 40px;
    height: auto;
  }

  .classroom {
    padding: 70px 50px;
  }
  .classroom-heading {
    margin-bottom: 40px;
  }
  .classroom__top__right__iconDiv {
    padding: 25px 28px;
  }
  .classroom__bottom {
    padding: 40px;
  }

  .about__founders__card {
    margin-top: 30px;
    padding: 25px;
  }
  .about__founders__card__imgsDiv__founder {
    width: 260px;
  }
  .about__text {
    margin-top: 60px;
    line-height: 30px;
  }
  .about__founders__card__details__intro,
  .about__founders__card__details__title {
    line-height: 30px;
  }

  .article {
    padding: 60px 50px 40px 50px;
  }
  .article__container {
    margin-top: 45px;
  }
  .article__container__card__title {
    line-height: 25px;
    margin-top: 10px;
  }
  .article__btnDiv {
    margin-top: 40px;
  }

  .uke__left__content {
    margin-top: 40px;
    gap: 12px;
  }
  .uke__left__content__subtitle {
    line-height: 25px;
  }

  .calendar {
    padding: 100px 50px;
  }
  .calendar__left__subtitle {
    line-height: 25px;
  }
  .calendar__right__container__base {
    margin-top: -30px;
    padding: 0 60px;
  }
  .calendar__right__container__overlay {
    padding: 30px 20px 0 10px;
  }
}

@media (max-width: 949px) {
  .calendar__right__container__base {
    margin-top: -10px;
    padding: 0 40px;
  }
  .calendar__right__container__overlay {
    padding: 60px 20px 0 10px;
  }
}

@media (max-width: 849px) {
  .calendar__right__container__base {
    margin-top: -10px;
    padding: 0 20px;
  }
  .calendar__right__container__overlay {
    padding: 70px 20px 0 10px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  .primary-button {
    padding: 12px 25px;
  }
  .course-card {
    margin: 0 auto;
  }
  .header__nav__logo {
    width: 150px;
    height: auto;
  }
  .container-half {
    width: 100%;
  }
  .header {
    padding: 20px 30px;
  }
  .hero {
    padding: 0 30px;
    flex-direction: column-reverse;
  }
  .hero__right {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .hero__right__imgDiv {
    margin: -50px 0 0 0;
  }
  .hero__right__imgDiv__img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .hero__right__review-card {
    position: static;
    padding: 10px;
  }
  .hero__left {
    padding: 40px 0;
  }
  .hero__left__heading,
  .hero__left__subtitle,
  .hero__left__para {
    text-align: center;
  }
  .hero__left__inputDiv__input {
    width: 90%;
  }
  .hero__left__inputDiv__overlay {
    right: 0;
  }
  .hero__left__signupDiv {
    justify-content: center;
  }
  .hero__right__users-card {
    right: 0;
    position: relative;
  }

  .classroom {
    padding: 50px 30px;
  }
  .classroom-heading {
    margin-bottom: 30px;
  }
  .classroom__top {
    flex-direction: column;
  }
  .classroom__bottom {
    padding: 30px;
  }

  .about {
    padding: 50px 30px 0 30px;
  }
  .about__founders__card {
    flex-direction: column;
    padding: 20px;
  }
  .about__founders__card__details__title,
  .about__founders__card__details__subtitle {
    text-align: center;
  }
  .about__founders__card__details__hr {
    margin: 10px 0;
  }
  .about__founders__card__imgsDiv__founder {
    width: 220px;
    margin-top: 10px;
  }
  .about__text {
    margin-top: 40px;
    line-height: 20px;
  }
  .about__founders__card__details__intro,
  .about__founders__card__details__title {
    line-height: 20px;
  }
  .about__founders__card__details {
    padding: 15px;
  }

  .article {
    padding: 45px 30px 35px 30px;
  }
  .article__container {
    flex-wrap: wrap;
  }
  .article__container__card__title {
    line-height: 18px;
    margin-top: 10px;
  }

  .uke {
    flex-direction: column;
    padding-left: 0;
  }
  .uke__left {
    padding: 20px 30px 40px 40px;
  }
  .uke__left__title__underline {
    left: -10px;
  }

  .calendar {
    flex-direction: column;
    padding: 70px 30px;
  }
  .calendar__right__container__base {
    margin-top: 0;
    margin-left: -30px;
    padding: 20px 40px 20px 40px;
    width: 100%;
  }
  .calendar__right__container__overlay {
    margin-left: -30px;
    padding: 100px 30px 0 30px;
    width: 100%;
  }
  .calendar__right__container__base__img,
  .calendar__right__container__overlay__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 6px;
  }
  .primary-button {
    padding: 10px 20px;
  }
  .title {
    line-height: 35px;
  }
  .underline-img {
    bottom: -17px;
  }
  .header__nav__logo {
    width: 130px;
    height: auto;
  }
  .header {
    padding: 15px 20px;
  }
  .hero {
    padding: 0 20px;
  }
  .hero__left__subtitle {
    text-wrap: wrap;
  }
  .hero__right {
    gap: 10px;
  }

  .classroom-heading {
    margin-bottom: 20px;
  }
  .classroom__bottom {
    padding: 20px;
  }

  .about {
    padding: 35px 20px 0 20px;
  }
  .about__founders__card {
    padding: 15px;
  }
  .about__founders__card__details__hr {
    margin: 7px 0;
  }
  .about__founders__card__imgsDiv__founder {
    width: 200px;
  }
  .about__text {
    margin-top: 3cap;
    line-height: 15px;
  }
  .about__founders__card__details__intro,
  .about__founders__card__details__title {
    line-height: 15px;
  }
  .about__founders__card__details {
    padding: 10px;
  }

  .article {
    padding: 40px 25px 30px 25px;
  }
  .article__btnDiv {
    margin-top: 30px;
  }

  .uke__left {
    padding: 15px 20px 30px 30px;
  }
  .uke__left__content {
    margin-top: 30px;
    gap: 10px;
  }
  .uke__left__content__subtitle {
    line-height: 20px;
  }
  .uke__left__title__underline {
    left: -10px;
    bottom: -20px;
  }

  .calendar {
    flex-direction: column;
    padding: 50px 20px;
  }
  .calendar__right__container__base {
    margin-left: -20px;
    padding: 20px 50px;
    width: 100%;
  }
  .calendar__right__container__overlay {
    margin-left: -20px;
    padding: 80px 20px 0 20px;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .calendar__right__container__overlay {
    padding: 70px 20px 0 20px;
  }
}
