@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --blue: rgba(23, 59, 88, 1);
  --gray: rgba(237, 242, 247, 1);
  --orange: rgba(237, 176, 49, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  color: #173b58;
  font-family: "DM Sans";
}

.title {
  color: var(--blue);
  font-weight: 700;
  line-height: 57px;
  font-size: 4rem;
}

.primary-button {
  padding: 20px 40px;
  width: max-content;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 700;
  border: 1px solid var(--blue);
  border-radius: 56px;
  background: white;
  color: var(--blue);
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);
  cursor: pointer;
}

.hover-primary:hover {
  background: var(--orange);
}

.default-img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-half {
  width: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.underline-img {
  left: 0;
  bottom: -25px;
}

.border {
  border: 1px solid rgba(195, 196, 198, 1);
}

/* header */

.header {
  background: transparent;
}

.header__nav {
  padding: 30px 0;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

/* hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.hero__left__subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 46px;
}

.hero__left__inputDiv__input {
  padding: 20px;
  width: 80%;
  border: 1px solid var(--blue);
  border-radius: 100px;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 20px 0 15px 0;
}

.hero__left__para {
  font-size: 2rem;
  font-weight: 500;
  line-height: 46px;
}

.hero__left__inputDiv__overlay {
  margin: 20px 0 15px 0;
  background: var(--orange);
  padding: 18px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  right: 10%;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 700;
}

::placeholder {
  color: var(--gray);
}

.hero__left__signupDiv {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: flex-start;
}

.hero__left__signupDiv__option {
  background: var(--gray);
  padding: 20px 30px;
  border-radius: 30px;
  margin-right: 8px;
}

.hero__right {
  z-index: -1;
}

.hero__right__imgDiv {
  margin: -50px -25px -10px -50px;
}

.hero__right__imgDiv__img {
  width: 100%;
  height: auto;
}

.hero__right__review-card {
  bottom: 15px;
  right: 375px;
  background: var(--white);
  width: 380px;
  padding: 28px 20px 16px 20px;
  border-radius: 16px;
  color: rgba(30, 30, 30, 1);
}

.hero__right__review-card__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero__right__review-card__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -5px;
}

.hero__right__review-card__main__user {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hero__right__review-card__main__user__details__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 4px;
}

.hero__right__review-card__main__user__details__para {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 18px;
}

.hero__right__review-card__main__starimg {
  margin: 0 -26px -8px 23px;
}

.hero__right__users-card {
  background: var(--white);
  border-radius: 16px;
  width: 234px;
  padding: 24px;
  right: 30px;
  bottom: 170px;
}

.hero__right__users-card__img {
  position: absolute;
  top: 0;
  left: 4px;
}

.hero__right__users-card__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.hero__right__users-card__para {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(30, 30, 30, 1);
  line-height: 23px;
}

/* glimpse */

.glimpse-group {
  background: rgba(246, 248, 251, 1);
}

.glimpse-group-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1279px) {
  .hero__right__imgDiv {
    margin: -50px 0 -10px -50px;
  }
  .header,
  .hero {
    padding: 0 20px;
  }
  .hero__right__review-card {
    bottom: 10px;
    right: 350px;
  }
  .hero__right__users-card {
    right: 30px;
    bottom: 150px;
  }
}

@media (max-width: 1115px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero__right,
  .hero__left {
    width: 100%;
  }
  .hero__right__imgDiv {
    width: 80%;
    margin: -50px 0 10px 0;
  }
  .hero__right__users-card {
    right: 0;
    bottom: 290px;
  }
  .hero__right__review-card {
    right: 0;
    bottom: 100px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 8px;
  }
  .hero__right__users-card {
    width: 200px;
    bottom: 280px;
  }
  .hero__right__review-card {
    width: 340px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  .hero__right__users-card {
    width: 180px;
    padding: 15px;
    bottom: 200px;
  }
  .hero__right__review-card {
    width: 320px;
    padding: 14px 20px 8px 10px;
    bottom: 50px;
  }
  .hero__right__review-card__title {
    margin-bottom: 6px;
  }
  .hero__right__review-card__main__user {
    gap: 2px;
  }
  .hero__right__review-card__main__user__details__title {
    padding-bottom: 0;
  }
}

@media (max-width: 649px) {
  html {
    font-size: 6px;
  }
  .hero__right__imgDiv {
    width: 80%;
    margin: -10px 0 10px 0;
  }
  .hero__right__users-card {
    width: 150px;
    bottom: 150px;
  }
  .hero__right__review-card {
   bottom: 10px;
   width: 240px;
  }
}

@media (max-width: 479px) {
  
}
