@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --blue: rgba(23, 59, 88, 1);
  --gray: rgba(237, 242, 247, 1);
  --orange: rgba(237, 176, 49, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  color: #173b58;
  font-family: "DM Sans";
}

/* utility classes */

.title {
  color: var(--blue);
  font-weight: 700;
  line-height: 57px;
  font-size: 4rem;
}

.primary-button {
  padding: 20px 40px;
  width: max-content;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 700;
  border: 1px solid var(--blue);
  border-radius: 56px;
  background: white;
  color: var(--blue);
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);
  cursor: pointer;
}

.hover-primary:hover {
  background: var(--orange);
}

.default-img {
  width: 100%;
  height: auto;
}

.primary-img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-half {
  width: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.underline-img {
  left: 0;
  bottom: -25px;
}

.border {
  border: 1px solid rgba(195, 196, 198, 1);
}

.course-card {
  background: var(--white);
  padding: 14px;
  margin: 0 auto;
  border-radius: 8px;
  flex-shrink: 0;
}

.course-card__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 20px;
  margin: 15px 0;
}

.course-card__content {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-card__content__book {
  display: flex;
  align-items: center;
}

.course-card-icon {
  margin-right: 7px;
}

.course-card__content__learning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.course-card__content__learning__route {
  display: flex;
  align-items: center;
}

.course-card__hr {
  border: 1px solid rgba(217, 219, 233, 1);
}

.course-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.course-card__footer__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-card__footer__user__details__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.course-card__footer__user__details__course {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.course-card__footer__icon {
  padding: 5px 13px;
  border-radius: 70px;
  background: var(--gray);
}

/* header */

.header {
  background: transparent;
  padding: 30px 110px;
}

.header__nav {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

/* hero section */

.hero {
  padding: 0 110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.hero__left__subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 46px;
  text-wrap: nowrap;
}

.hero__left__inputDiv__input {
  padding: 20px;
  width: 80%;
  border: 1px solid var(--blue);
  border-radius: 100px;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 20px 0 15px 0;
}

.hero__left__para {
  font-size: 2rem;
  font-weight: 500;
  line-height: 46px;
}

.hero__left__inputDiv__overlay {
  margin: 20px 0 15px 0;
  background: var(--orange);
  padding: 18px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 0;
  right: 10%;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 700;
}

::placeholder {
  color: var(--gray);
}

.hero__left__signupDiv {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__left__signupDiv__option {
  background: var(--gray);
  padding: 20px 30px;
  border-radius: 30px;
  margin-right: 8px;
}

.hero__right {
  z-index: -1;
}

.hero__right__imgDiv {
  margin: -110px -100px 0px -60px;
}

.hero__right__imgDiv__img {
  width: 100%;
  height: auto;
}

.hero__right__review-card {
  bottom: 6%;
  right: 60%;
  background: var(--white);
  width: 380px;
  padding: 28px 20px 16px 20px;
  border-radius: 16px;
  color: rgba(30, 30, 30, 1);
}

.hero__right__review-card__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero__right__review-card__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -5px;
}

.hero__right__review-card__main__user {
  display: flex;
  gap: 5px;
  align-items: center;
}

.hero__right__review-card__main__user__details__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 4px;
}

.hero__right__review-card__main__user__details__para {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 18px;
}

.hero__right__review-card__main__starimg {
  margin: 0 -26px -8px 23px;
}

.hero__right__users-card {
  right: 1%;
  bottom: 29%;
  background: var(--white);
  border-radius: 16px;
  width: 234px;
  padding: 24px;
}

.hero__right__users-card__img {
  position: absolute;
  top: 0;
  left: 4px;
}

.hero__right__users-card__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.hero__right__users-card__para {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(30, 30, 30, 1);
  line-height: 23px;
}

/* glimpse */

.classroom {
  padding: 121px;
  background: rgba(246, 248, 251, 1);
}

.classroom-heading {
  text-align: center;
  margin-bottom: 50px;
}

.classroom__top {
  display: flex;
  gap: 20px;
}

.classroom__top__right {
  
}

@media (max-width: 1279px) {
  html {
    font-size: 9px;
  }

  .header {
    padding: 30px 50px;
  }
  .hero {
    padding: 0 50px;
  }
}

@media (max-width: 1115px) {
  html {
    font-size: 8px;
  }
  .hero__right__imgDiv {
    margin: -80px -50px 0px 0px;
  }
  .hero__right__users-card {
    bottom: 30%;
    width: 180px;
    padding: 15px;
  }
  .hero__right__review-card {
    bottom: 5%;
    right: 55%;
    width: 330px;
    padding: 14px 20px 8px 10px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 7px;
  }
  .primary-button {
    padding: 15px 30px;
  }
  .header {
    padding: 20px 50px;
  }
  .header__nav__logo {
    width: 170px;
    height: auto;
  }
  .title {
    line-height: 45px;
  }
  .hero__left__subtitle {
    line-height: 30px;
  }
  .hero__left__inputDiv__input {
    padding: 15px;
    width: 70%;
    margin: 10px 0;
  }
  .hero__left__inputDiv__overlay {
    margin: 10px 0;
    padding: 10px 30px;
  }
  .hero__left__para {
    line-height: 20px;
  }
  .hero__left__signupDiv__option,
  .hero__left__signupDiv__option {
    padding: 15px 20px;
    width: 100px;
    height: auto;
  }
  .hero__right__imgDiv {
    margin: -50px -20px 30px 20px;
  }
  .hero__right__users-card {
    bottom: 28%;
    width: 160px;
    padding: 15px;
  }
  .hero__right__review-card {
    bottom: 5%;
    right: 55%;
    width: 260px;
    padding: 8px 15px 8px 10px;
  }

  .hero__right__review-card__main__user__details__title {
    line-height: 20px;
    padding-bottom: 2px;
  }

  .hero__right__review-card__main__user__details__para {
    font-weight: 500;
    line-height: 15px;
  }

  .hero__right__review-card__main__user__img,
  .hero__right__review-card__main__starimg {
    width: 50px;
    height: auto;
  }

  .hero__right__users-card__img {
    width: 40px;
    height: auto;
  }
  .underline-img {
    bottom: -21px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
  .primary-button {
    padding: 12px 25px;
  }
  .header__nav__logo {
    width: 150px;
    height: auto;
  }

  .container-half {
    width: 100%;
  }

  .header {
    padding: 20px 30px;
  }

  .hero {
    padding: 0 30px;
    flex-direction: column-reverse;
  }

  .hero__right {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .hero__right__imgDiv {
    margin: -50px 0 0 0;
  }

  .hero__right__imgDiv__img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .hero__right__review-card {
    position: static;
    padding: 10px;
  }

  .hero__left {
    padding: 40px 0;
  }

  .hero__left__heading,
  .hero__left__subtitle,
  .hero__left__para {
    text-align: center;
  }

  .hero__left__inputDiv__input {
    width: 90%;
  }
  .hero__left__inputDiv__overlay {
    right: 0;
  }

  .hero__left__signupDiv {
    justify-content: center;
  }
  .hero__right__users-card {
    right: 0;
    position: relative;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 6px;
  }
  .primary-button {
    padding: 10px 20px;
  }
  .title {
    line-height: 35px;
  }
  .underline-img {
    bottom: -17px;
  }
  .header__nav__logo {
    width: 130px;
    height: auto;
  }
  .header {
    padding: 15px 20px;
  }
  .hero {
    padding: 0 20px;
  }
  .hero__left__subtitle {
    text-wrap: wrap;
  }
  .hero__right {
    gap: 10px;
  }
}
